/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #13131F; 
    height: 100vh;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
    
}



nav.menu-desktop ul li a::after {
    content: ' ';
    width: 30px;
    height: 4px;
    background-color: #FFFFFF;
    position: relative;
}





.flex {
    display: flex;
    align-items: center;
}

.botao-contato button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
    color: #E5B8F4; 
    border: 2px solid #9F73AB; 
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 17px;


} 

.botao-contato button:hover{
    background-color: #591f72; 
    color: #FFFFFF; 
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(100, 99, 99, 0.3);
    
}
h2.titulo {
    font-size: 30px;
    color: #fff;
    text-align: center;

}

h2.titulo span {
    color: #E5B8F4;
} 



/* Estilo do Cabeçalho */


header {
    padding: 15px 4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2d1936;
    align-items: center; 
    justify-content: space-between; 
     
    
}




header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header a {
    color: #e5b8f480; 
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    font-size: 18px;
}

header nav.menu-desktop a:hover {
    color: #E5B8F4; 
    transform: scale(1.05);
} 

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 48px;

}


.logo {
    color: #E5B8F4; 
    font-size: 34px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}

.imagem-perfil {
    max-width: 400px;
    cursor: pointer;
    transition: 0.2s;
}

.imagem-perfil:hover {
    transform: scale(1.05);
} 



/* ESTILO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #E5B8F4;
    font-size: 26px;

}
.menu-mobile{
    background-color: rgba(22, 22, 22, 0.973);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;

}

.menu-mobile.abrir-menu{
    width: 50%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 6%;
}

.menu-mobile .btn-fechar i{
    color: #9F73AB;
    font-size: 30px;

}



.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #E5B8F4;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #9F73AB;
    color: #fff;
}

.overlay-menu{
    background-color: #00000093;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
} 





/* Seção Principal */
section.secao-principal {
    padding: 250px 4%;

    

} 

section.secao-principal .flex {
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    
}



.secao-principal .descricao h1 {
    color: #fff; 
    font-size: 20px;
    line-height: 50px;
}

.secao-principal .descricao span {
    color: #9F73AB; 
    font-size: 30px;
}

.secao-principal .descricao p {
    color: #9F73AB; 
    font-size: 18px;
    line-height: 2;
    margin: 10px 0;
}

.secao-principal .imagem img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}



/* Seção Habilidades */

section.secao-habilidades {
    padding: 250px 4%;


} 

section.secao-habilidades .flex {
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.secao-habilidades .cards-box {
    color: #9F73AB;
    padding: 40px;
    margin-top: 60px;
    border-radius: 5px 5px 40px 1px;
    transition: .2s;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 150px; 
    height: 170px; 
}


.secao-habilidades .cards-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #9f73abb9;
}



.secao-habilidades .cards-box i{
    font-size: 60px;

}
.secao-habilidades .cards-box h3{
    font-size: 20px;
    margin: 20px 0;
}





/* SEÇAÕ SOBRE */

section.sobre{
    padding: 120px 4%;


}



section.sobre .flex{
    align-items: center;
    gap: 60px;
    
    
} 
section.sobre .txt-sobre{
    align-items: center;
    max-width: 800px; 
    margin: 0 auto; 
    text-align: justify;
    

}

.sobre .txt-sobre p{
    color: #fff;
    margin: 15px 0;
    text-align: justify;
    font-size: 16px;


} 

section.sobre .txt-sobre h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;

    
}

section.sobre .txt-sobre h2 span{
    color: #E5B8F4;
}   

section.sobre .img-sobre img{
    width: 414px;
    height: 500px;
    border-radius: 40px;
}


 



/* Seção Projetos */

section.projetos{
    padding: 80px 4%;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 90px;
    gap: 30px;
}
.img-proj{
    width: 310px;
    height: 410px;
    background-color: #9F73AB;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 20px 10px 20px;
    position: relative;
}

.img-proj:hover{
    background-position: 100% 100%;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #845691e7;
    border-radius: 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}


/* Seção Footer */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}
footer .linha-rodape{
    padding: 20px 0;
    
}
.borda{
    border-top: 2px solid #9F73AB;
}

footer h1{
    color: #E5B8F4;
}

footer .linha-rodape .btn-social button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #9F73AB;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: #591f72;
    
}

footer .linha-rodape p i{
    color: #E5B8F4;
    font-size: 22px;

}
footer .linha-rodape p a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}


@media screen and (max-width: 1017px) {

        /* Classes gerais */

        html {
            scroll-behavior: smooth;
        }


        .flex {
            flex-direction: column;
        }
        .secao-principal .flex{ 
            flex-direction: column-reverse;
        } 

        h2.titulo {
            font-size: 27px;
            text-align: center;
        }

        /* cabeçalho */
            
        .menu-desktop, .botao-contato {
            display: none;
        }

        
        /* DESCRIÇÃO */
        section.secao-principal .flex {
            gap: 40px;
            
        }
        section.secao-principal {
            padding: 130px 8%;
            margin: 30px 0;
        }
        .secao-principal .descricao h1{
            
            color: #fff; 
            font-size: 20px;
            text-align: center;
            
        }

        
        .secao-principal .descricao span { 
            font-size: 24px;
            display: flex;
            justify-content: center;    
        }
        
        .secao-principal .descricao p {
            font-size: 15px;
            margin: 10px 0;
            text-align: center;
        }
        
        .secao-principal .imagem {
            text-align: center; 
        }
        
        .secao-principal .imagem img {
            width: 70%;
            display: inline-block; 
        }
        


        /* HABILIDADES */
        section.secao-habilidades {
            padding: 80px 8%;
        } 
        
        

        /* sobre */
        section.sobre{
            padding: 100px 8%;

        }
        .sobre .txt-sobre p{
            font-size: 16px;

        } 
        .sobre .flex{
            flex-direction: column-reverse;
        }
        section.sobre .img-sobre img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 320px;
            height: auto;
            margin: 0 auto;
            
        }

        

        /* projetos */
        section.projetos{
            padding: 80px 8%;
        }

        .img-proj{
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
            
        }
        section.projetos .flex{
            gap: 60px;
        }



         /* rodape */
        

        
        footer .flex{
            
            gap: 30px;
        }

        footer .linha-rodape{
            justify-content: space-between;
        }

        /* MOBILE */
        .btn-abrir-menu{
            display: block;
        }


    
    }